html {
	background-color: #f1f5f9;
	font-family: sans-serif;
}

body {
	margin: 0 auto;
	width: 100%;
	max-width: 80ch;
	padding: 1rem;
	line-height: 1.5;
}

.header {
	position: relative;
}

.logo {
	padding: 15px 0px;
	position: fixed;
	top: 10px;
	left: 20px;
	border-bottom: 4px solid black;
	width: 3000px;
}

.namelogo {
	display: inline-block;
	padding: 0px 20px;
	text-decoration: none;
	font-size: 2.5rem;
	font-weight: bold;
	position: fixed;
	top: 8px;
	left: 40px;
}

.namelogo p {
	display: inline-block;
	vertical-align: middle;
	margin: 0;
	font-size: 1.5rem;
	font-weight: 700;
}

.wrapper {
	display: flex;
}



/* nav styles */

.hamburger {
	padding-right: 20px;
	cursor: pointer;
}

.hamburger .line {
	display: block;
	width: 40px;
	height: 5px;
	margin-bottom: 10px;
	background-color: #bceef3;
}

.nav-links {
	position: fixed;
	top: 4rem;
	right: 25px;
	background-color: #bfe9ee;
	display: none;
	margin: 0;
	border: thick double #32a1ce;
}

.nav-links a {
	display: block;
	text-align: center;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 1.2rem;
	font-weight: bold;
	text-transform: uppercase;
}

.nav-links a:hover,
a:focus {
	background-color: #79afba;
}

.expanded {
	display: unset;
}

@media screen and (min-width: 800px) {
	.nav-links {
		margin-right: 5px;
		display: inline-block;
		position: fixed;
		top: 10px;
		right: 0px;
		background: none;
		border: none;
	}

	.nav-links a {
		display: inline-block;
		padding: 15px 20px;
	}

	.hamburger {
		display: none;
	}
}


html.dark {
	background-color: #0d0950;
	color: #fff;
}

.dark .nav-links a {
	color: #fff;
}