<footer>
	<button id="social">
		<svg
			width="32px"
			height="32px"
			viewBox="0 0 24 24"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				class="twitter"
				d="M21.4791 7.14123C21.4936 7.35123 21.4936 7.56123 21.4936 7.77316C21.4936 14.2309 16.5774 21.6786 7.58809 21.6786V21.6748C4.93261 21.6786 2.33229 20.918 0.0968018 19.4838C0.482931 19.5303 0.870995 19.5535 1.26003 19.5544C3.46067 19.5564 5.59841 18.818 7.32971 17.4583C5.23841 17.4186 3.40454 16.0551 2.7639 14.0645C3.49648 14.2057 4.25132 14.1767 4.97035 13.9803C2.69035 13.5196 1.05003 11.5164 1.05003 9.18994C1.05003 9.16865 1.05003 9.14832 1.05003 9.128C1.72938 9.50639 2.49003 9.71639 3.26809 9.73961C1.12067 8.30445 0.458737 5.44768 1.75551 3.21413C4.2368 6.26736 7.89777 8.12348 11.8278 8.31994C11.4339 6.62252 11.972 4.84381 13.2416 3.65058C15.21 1.80026 18.3058 1.8951 20.1562 3.86252C21.2507 3.64671 22.2997 3.2451 23.2597 2.67607C22.8949 3.80736 22.1313 4.76832 21.1113 5.37897C22.08 5.26478 23.0265 5.00542 23.9178 4.60961C23.2616 5.59284 22.4352 6.44929 21.4791 7.14123Z"
				fill="currentColor"></path>
		</svg>
	</button>

	<button id="social">
		<svg
			width="32px"
			height="32px"
			viewBox="0 0 24 24"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				class="github"
				fill-rule="evenodd"
				clip-rule="evenodd"
				d="M11.9989 0.296553C5.37254 0.296553 0 5.66893 0 12.2965C0 17.5982 3.43804 22.0954 8.20651 23.6829C8.8069 23.7927 9.02569 23.4221 9.02569 23.1039C9.02569 22.8196 9.01538 22.0645 9.00948 21.0634C5.67163 21.7883 4.96737 19.4546 4.96737 19.4546C4.4215 18.0689 3.63473 17.6999 3.63473 17.6999C2.5452 16.9551 3.71724 16.9698 3.71724 16.9698C4.9217 17.0553 5.55523 18.2067 5.55523 18.2067C6.62562 20.0402 8.36416 19.5105 9.04779 19.2041C9.15682 18.4284 9.46622 17.8995 9.80951 17.5997C7.14497 17.2969 4.34341 16.2671 4.34341 11.6689C4.34341 10.3592 4.8112 9.28808 5.57881 8.44904C5.45505 8.14554 5.04325 6.92565 5.69594 5.27335C5.69594 5.27335 6.7037 4.9507 8.99622 6.50355C9.95316 6.23762 10.9801 6.10428 12.0004 6.09986C13.0192 6.10428 14.0461 6.23762 15.0045 6.50355C17.2956 4.9507 18.3011 5.27335 18.3011 5.27335C18.956 6.92565 18.5442 8.14554 18.4205 8.44904C19.1895 9.28808 19.6544 10.3592 19.6544 11.6689C19.6544 16.2789 16.8484 17.2932 14.175 17.5901C14.606 17.9606 14.9898 18.6929 14.9898 19.8126C14.9898 21.4163 14.975 22.7105 14.975 23.1039C14.975 23.4251 15.1909 23.7986 15.8001 23.6814C20.5649 22.091 24 17.5967 24 12.2965C24 5.66893 18.6267 0.296553 11.9989 0.296553Z"
				fill="currentColor"></path>
		</svg>
	</button>

	<button id="social">
		<svg
			width="48px"
			height="48px"
			viewBox="0 -8 24 24"
			fill="none"
			xmlns="http://www.w3.org/2000/svg"
		>
			<path
				class="youtube"
				fill="currentColor"
				d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"
			></path>
		</svg>
	</button>
</footer>

<script is:inline>
document.querySelector(".twitter").addEventListener("click", () => {
	window.open("https://www.twitter.com/yu___09___11");
});
document.querySelector(".github").addEventListener("click", () => {
	window.open("https://www.instagram.com/u_yuuki_u");
});
document.querySelector(".youtube").addEventListener("click", () => {
	window.open("https://www.youtube.com/channel/UCkPhQEwdob-Dc539qnJASvg");
});
</script>

<style>
	footer {
		gap: 20px;
		margin-top: 15px;
		position: relative;
		text-align: center;
		justify-content: center;
		letter-spacing: 1em;
	}
	.social {
		display: inline-block;
	}
</style>
