---
import BaseLayout from "../layouts/BaseLayout.astro";

const pageTitle = "工事中";
---

<BaseLayout pageTitle={pageTitle}>
	<div class="main">
		<p class="Keytext">工事中ダヨ</p>
		<iframe
			id="inlineFrameExample"
			title="Inline Frame Example"
			width="auto"
			height="350"
			src="../Dino.html"
		>
		</iframe>
	</div>
</BaseLayout>

<style>
	@font-face {
		font-family: "DotGothic16";
		src: url("/fonts/DotGothic16-Regular.ttf");
	}
	.main {
		display: flex;
		flex-direction: column;
		gap: 1.6rem;
		text-align: center;
		font-family: "DotGothic16", sans-serif;
		margin-top: 10%;
		margin-bottom: 90px;
	}
	@media screen and (max-width: 480px) {
		.main {
			transform: translateY(45px);
			transition: transform 2s;
		}
	}
	.Keytext {
		font-size: 2.4rem;
		font-weight: 700;
		line-height: 1.2;
		letter-spacing: 0.4px;
	}
	iframe {
		border: none;
	}
</style>
