<footer>
	<button id="social">
		<img src="../assets/twitter.svg" class="twitter" />
	</button>

	<button id="social">
		<img src="../assets/github.svg" class="github" />
	</button>

	<button id="social">
		<img src="../assets/youtube.svg" class="youtube" />
	</button>
</footer>

<script is:inline>
document.querySelector(".twitter").addEventListener("click", () => {
	window.open("https://www.twitter.com/yu___09___11");
});
document.querySelector(".github").addEventListener("click", () => {
	window.open("https://www.instagram.com/u_yuuki_u");
});
document.querySelector(".youtube").addEventListener("click", () => {
	window.open("https://www.youtube.com/channel/UCkPhQEwdob-Dc539qnJASvg");
});
</script>
